<pre id="console">
searchTerm: {{searchTerm}}
selectedCategory: {{selectedCategory}}
learningObjectUrl: {{learningObjectUrl}}
</pre>

<section id="header">
  <form id="search">
    <label>
      {{#t}}Search{{/t}}
      {{input type="text" id="search-field" value=searchTerm}}
    </label>
  </form>
  <h2>Category Filter</h2>
  <div id="category-filter">
    {{#ic-buttonset value=selectedCategory default=selectedCategory}}
      {{ic-button value="all" label="everyone"}}
      {{#each category in categories}}
        {{ic-button value=category.id label=category.name}}
      {{/each}}
    {{/ic-buttonset}}
  </div>
</section>

<section id="side-bar">
  <h2>Content Filters</h2>
  <div id="content-filters">
    {{#each category in content_filters}}
      <h3>{{category.name}}</h3>
      <ul>
        {{#each filter in category.filters}}
          <li>{{filter.name}}</li>
        {{/each}}
      </ul>
    {{/each}}
  </div>
</section>

<section id="content">
  <h2>Learning Objects</h2>
  <ul id="learning-objects">
    {{#each object in learningObjects itemController="learningObject"}}
      <li>
        <h3>{{object.name}}</h3>
        <i><b>{{object.author}}</b></i> - {{date}}
        <div class="object-ratings">
          {{pal-star stars=stars}} - ({{ratings}} ratings)
        </div>
        <p>{{object.description}}</p>
        <ul>
          {{#each tag in object.tags}}
            <li>{{tag.name}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</section>

